# Database
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=

# Discord session
DISCORD_BOT_TOKEN=
DISCORD_OB_ACTIVE_PLAYERS_CHANNEL_ID=
DISCORD_OB_META_CARS_CHANNEL_ID=

# SEGA Initial D The Arcade
SEGA_IDAC_HOST=
SEGA_IDAC_GET_CURRENT_ROUND_URL_PATH=
SEGA_IDAC_GET_LIST_CONST_CFG_URL_PATH=
SEGA_IDAC_GET_LIST_OB_RANKING_URL_PATH=
SEGA_IDAC_GET_LIST_PLAYER_GRADE_URL_PATH=
SEGA_IDAC_GET_TEAM_RANKING_URL_PATH=
SEGA_IDAC_GET_TIME_TRAIL_URL_PATH=

# All.Net
ALLNET_HOST=
ALLNET_GET_LIST_STORE_LOCATION_URL_PATH=    

# OB Active Players Sync
OB_ACTIVE_PLAYERS_DOWNTIME_END_HOUR=
OB_ACTIVE_PLAYERS_DOWNTIME_START_HOUR=
OB_ACTIVE_PLAYERS_DOWNTIME_TZ=
OB_ACTIVE_PLAYERS_SYNC_INTERVAL_MINUTES=

# OB Meta Cars
OB_META_CARS_DOWNTIME_END_HOUR=
OB_META_CARS_DOWNTIME_START_HOUR=
OB_META_CARS_DOWNTIME_TZ=
OB_META_CARS_SYNC_INTERVAL_MINUTES=

# RSS
RSS_FETCH_INTERVAL=