# Discord ID & Tokens
DISCORD_BOT_TOKEN=
DISCORD_BOT_OWNER_ID=
DISCORD_OB_ACTIVE_PLAYERS_CHANNEL_ID=
DISCORD_OB_META_CARS_CHANNEL_ID=

# Bot config - OB Active Players Sync
OB_ACTIVE_PLAYERS_DOWNTIME_END_HOUR=
OB_ACTIVE_PLAYERS_DOWNTIME_START_HOUR=
OB_ACTIVE_PLAYERS_DOWNTIME_TZ=
OB_ACTIVE_PLAYERS_SYNC_INTERVAL_MINUTES=

# Bot config -  OB Meta Cars
OB_META_CARS_DOWNTIME_END_HOUR=
OB_META_CARS_DOWNTIME_START_HOUR=
OB_META_CARS_DOWNTIME_TZ=
OB_META_CARS_SYNC_INTERVAL_MINUTES=

# Database
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=

# Database table names (optional; defaults shown)
DB_TABLE_IDAC_CARS_METADATA=
DB_TABLE_IDAC_CAR_STYLES_METADATA=
DB_TABLE_IDAC_TA_TIME_METADATA=
DB_TABLE_IDAC_AREA_METADATA=
DB_TABLE_IDAC_OB_SYNC_AREA_CFG=
DB_TABLE_IDAC_STORES=
DB_TABLE_PLAYER_ALIAS=
DB_TABLE_OB_RANKING_CFG=
DB_TABLE_CFG_PLAYER_RANKING=
DB_TABLE_CFS_STATE=


# SEGA Initial D The Arcade
SEGA_IDAC_HOST=
SEGA_IDAC_GET_CURRENT_ROUND_URL_PATH=
SEGA_IDAC_GET_LIST_CONST_CFG_URL_PATH=
SEGA_IDAC_GET_LIST_OB_RANKING_URL_PATH=
SEGA_IDAC_GET_LIST_PLAYER_GRADE_URL_PATH=
SEGA_IDAC_GET_TEAM_RANKING_URL_PATH=
SEGA_IDAC_GET_TIME_TRAIL_URL_PATH=

# All.Net
ALLNET_EN_LANGUAGE_CODE=
ALLNET_GET_LIST_STORE_LOCATION_URL_PATH=
ALLNET_HOST=
ALLNET_IDAC_GAME_CODE=
